body {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 1s, color 1s;
  font-weight: 800;
  text-transform: capitalize;
}

.mode-toggle span{
    font-size: 5rem;
}

:root {
  --background-color: #f0f0f0;
  --text-color: #333;
  --container-background-color: #ffffff;
  --button-background-color: #007bff;
  --button-hover-background-color: #0056b3;
}

.dark-mode {
  --background-color: #333;
  --text-color: #f0f0f0;
  --container-background-color: #444;
  --button-background-color: #555;
  --button-hover-background-color: #777;
}

.container {
  text-align: center;
  background-color: var(--container-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  transition: background-color 1s;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mode-toggle span {
  margin: 0 10px;
  font-size: 1em;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 1s;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: orangered;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 1s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 1s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Responsive Design */
@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  button {
    padding: 10px;
    font-size: 0.9em;
  }

  .mode-toggle span {
    font-size: 0.9em;
  }
}
